DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cubos_movies?schema=public"
JWT_SECRET="um hash qualquer para ser usado como segredo na geração dos tokens JWT"
PORT=3001
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=cubos-movies-files-bucket
ENABLE_RELEASE_REMINDER_CRON=true
SMTP_USER=seu-email
SMTP_APP_PASSWORD=senha-de-aplicativo
MAIL_FROM=seu-email
CRON_SECRET=um hash (o mesmo do .env do frontend)
